body{font-family:"microsoft yahei","微软雅黑";color:#333;background:#F8F8F8;font-size:16px}
*{padding:0;margin:0}
img{width:100%;display:block;border:none;}
.banner{
	width: 100%;
	min-width: 960px;
	max-height: 700px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.content_map{
	width: 1180px;
	height: 440px;
	padding: 10px;
	background: #fff;
	margin: 25px auto 50px;
	overflow: hidden;
}
#map{width:600px;height:100%;float:left}
.BMap_cpyCtrl{display:none}
.anchorBL{display:none}
.map_right{
	width: 500px;
	height: 100%;
	padding: 0 40px;
	float: left;
	background: #fff;
}
.map_right h3{
	font-size: 24px;
	font-weight: 400;
	padding: 50px 0 30px;
}
.map_right p{
	margin-top: 10px;
}
